// @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --wrapper: 1440px;
  --orange: orange;
  --black: #000000;
  --white: #ffffff;
  --gray: #303030;
  --gray-2: #e1e1e1;
  --width-input-range: 10px;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
  background: var(--white);
}

#root {
  overflow: auto;
}

body {
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  cursor: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiByPSIxMCIgZmlsbD0id2hpdGUiLz48L3N2Zz4="),
    auto;
  position: fixed;
  overscroll-behavior-y: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas {
  width: 100vw;
  height: 100vh;
}

.range {
  
  &__slider {
    position: absolute;
    width: 400px;
    height: 110px;
    z-index: 5;
    transform: rotate(-90deg);
  }

  &__container {
    position: relative;
    width: inherit;
    height: inherit;
  }

  &__input {
    position: absolute;
    width: 100%;
    height: 4px;
    opacity: 0;
    margin: 0;
    z-index: 3;
    -webkit-appearance: none;
    appearance: none;
    padding: 53px 0;

    &::-moz-range-thumb {
      width: 60px;
      height: 60px;
      cursor: pointer;
      border-radius: 50%;
      opacity: 0;
    }
  }

  &__thumb {
    width: 60px;
    height: 60px;
    border: 2px solid var(--gray);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--gray);
    z-index: 2;
  }

  &__line {
    height: var(--width-input-range);
    border-radius: 8px;
    width: 100%;
    background-color: var(--gray-2);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    position: absolute;
    z-index: 1;

    &-fill {
      position: absolute;
      height: var(--width-input-range);
      border-radius: 8px;
      width: 0;
      background-color: var(--gray);
    }
  }
}
